# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Swap files
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend specific
/backend/node_modules
/backend/dist
/backend/.env

# Data and logs
/gwiki-data
backend_dev.log
frontend_dev.log